 <!--Navbar-->
 <nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">{{ 'Layout.Nav.1' | translate }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="page1">{{ 'Layout.Nav.2' | translate }}<span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="page2">{{ 'Layout.Nav.3' | translate }}</a>
        </li>
        <li class="nav-item btn-group">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">{{ 'Layout.Nav.4' | translate }}
          </a>
          <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another</a>
            <a class="dropdown-item" href="#">Something</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="page3">{{ 'Layout.Nav.5' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#">{{ 'Layout.Nav.6' | translate }}</a>
        </li>
      </ul>
      <form class="form-inline">
        <div class="md-form my-0">
          <input class="form-control mr-sm-2" type="text" placeholder="{{ 'Layout.Nav.7' | translate }}" aria-label="Search">
        </div>
      </form>
    </div>
  </div>
</nav>
<!--/.Navbar-->
